---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Limite-motor">
<h1 class="text-white">Sobre nosotros</h1>

<p class="text-white">Esta es la página web del taller mecánico de motocicletas de Carmelo</p>
</Layout>