---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre Limite-motor">
<h4 class="conocenos">Conócenos</h1>

<p class="intro-carmelo-nombre">Carmelo Cuerda</h2><br>
<p class="intro-carmelo">Soy Carmelo, actualmente trabajo como mecánico de motocicletas en el taller Límite motor, empecé en este taller en el 2001 hasta el día de hoy.</p>


</Layout>

<style>
    * {
        line-height: 35px;
    }
    .conocenos {
        margin-top: 40px;
        font-size: 35px;
        margin: 50px;
    }
    .intro-carmelo-nombre {
        font-size: 25px;
    }
    .intro-carmelo {
        font-size: 18px;
    }
</style>