---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Límite Motor.">
	<h1 class="bienvenida">Bienvenido al sitio web del taller de reparación de motocicletas de Carmelo</h1>
</Layout>

<style>
	

	h1 {
		color: white;
	}
	.bienvenida {
		padding: 50px;
		font-size: 35px;
        text-align: center;
    }
</style>

