---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicio de reparación de motocicletas">
    
    <h1 >Reparación de motocicletas</h1>

</Layout>

<style>
    h1 {
        margin: 20px;
        padding: 20px;
    }
</style>